/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
} */

.cart-container {
    max-width: 900px;
    margin:150px auto auto auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

h1 {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-header{
    justify-content: space-between;
    display: flex;
}

.btn {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #4e2777;
}

.shipping, .summary {
    margin-top: 20px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}

.summary button {
    width: 50%;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #6a11cb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.summary button:hover {
    background-color: #4e2777;
}
