body{
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
}


img{
    width: 25%;
}

#cart-title{
    margin: 10px;
    padding-top: 10px;
    text-decoration: underline;
}

.product-details-container{
    background-color: rgb(222, 214, 230);
    margin: 150px;
    border-radius: 30px;
    justify-content: center;
}

#product_name{
    background-color: blue;
    background-color: #5b0dab;
    color: white;
    border-radius: 15px;
    border-bottom: 2px solid white;
    font-size: 20px;
    margin: 30px;
    padding: 7px;
}

#product_description{
    margin: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    line-height: 30px;
}

#product_price{
    font-weight: bolder;
    font-size:larger;
    text-decoration: underline #5b0dab ;
}

.add-to-cart{
    background-color: #6a11cb;
    color: white;
    cursor: pointer;
    border: #6a11cb;
    padding: 12px;
    margin: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-to-cart:hover {
    background-color: #5b0dab;
}

.add-to-cart a{
    color: #fff;
    text-decoration: none;
}